<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesi칩n</title>
    <link rel="stylesheet" href="/public/Style.css"> 
</head>
<body class="log">
    <div class="login-container">
        <h2>Iniciar sesi칩n</h2>
        <form action="/login" method="POST"> 
            <div class="form-group">
                <label for="Nomre de usuario">Usuario</label>
                <input type="text" id="Nombre de usuario" name="Nombre de usuario" required>
            </div>
            <div class="form-group">
                <label for="password">Contrase침a</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Iniciar sesi칩n</button>
        </form>
    </div>
</body>
</html>